.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home__header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.home__header a {
  margin-right: 1.1rem;
  text-decoration: inherit;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
}

.header__header a:hover {
  text-decoration: underline;
}
.header__left {
}
